.DS_Store
.vscode
.venv
__pycache__
dist
dist_old
build
*.spec
installer.txt
venv
*.pth
Original_Images/
backups/*
*.egg-info
*.ico
*.icns
*.png
*.jpg
*.tiff
*.tif 
*.svg
artifacts/*
checkpoints/*
metrics/*
sam_artifacts/*
sam_inputs/*
sam_outputs/*
