.DS_Store
.vscode
.venv
__pycache__
dist
dist_old
build
*.spec
installer.txt
venv
*.pth
dataset/
checkpoints/
metrics/
artifacts/
validation/
Original_Images/
backups/
results/
*.egg-info
*.ico
*.icns
